* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lucidity-condensed";
}

body {
  background-color: white;
}

/*HEADER*/
.navbar-logo {
  display: flex;
  align-items: center;
  padding: 30px;
  text-align: center;
  background-color: white;
}

.socialmedia-box {
  padding: 10px 0;
}

.socialmedia-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.socialmedia-ul li {
  padding: 0 10px;
  list-style-type: none;
}

.socialmedia-ul li a {
  color: black;
}

.fab {
  font-size: 35px;
}

.box-logo {
  margin: auto;
  margin-right: 30%;
  background-color: #BABABA;
  width: 40%;
  padding: 10px 0;
  border-radius: 8px;
  font-family: "Lucidity-Condensed";
}

header .navbar {
  background-color: #BABABA;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

header .navbar .box-menu .menu-links {
  display: flex;
  justify-content: center;
}

.navbar .collapse ul li .nav-link {
  font-family: "Lucidity-Condensed";
  color: rgb(0, 0, 0);
}

.img-logo {
  height: 70px;
  width: auto;
}

/*FIN HEADER*/
/*INDEX*/
.carousel-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20% 0 5%;
  background-color: rgba(95, 53, 1, 0.5764705882);
  border-radius: 8px;
  font-family: "lucidity-condensed";
}

h2 {
  margin-top: 25%;
}

.carousel-caption {
  position: absolute;
  right: 30%;
  left: 0%;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  bottom: 5%;
  top: 5%;
}

.carousel-img {
  width: 90%;
  margin: auto;
}

.arrow-button {
  width: 5%;
}

.carousel-arrow {
  background-color: #BABABA;
  border-radius: 5px;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.677);
  color: #BABABA;
  padding: 20px;
  border: none;
  border-radius: 8px;
}

.section-ind {
  padding: 30px;
  margin: 100px 0;
  background-color: #dbb2b2;
}

.h3-ind, .text-ind {
  text-align: center;
}

.prod-dest {
  margin: 50px 30px;
  border-top: 1px solid #BABABA;
  border-bottom: 1px solid #BABABA;
}

.cards-container {
  margin: 30px 15px;
}

.col {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card {
  border-radius: 8px;
  width: 70%;
  height: 70px;
  box-shadow: 0 8px 2px -2px rgba(0, 0, 0, 0.25);
}

.buy-button {
  background-color: #dbb2b2;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title, .card-text {
  text-align: center;
}

/*FIN INDEX*/
/*ALFAJORES*/
.sec-alfj {
  margin: 50px;
}

/*FIN ALFAJORES*/
.wsp-container {
  width: 60px;
  height: 60px;
  background-color: #BABABA;
  border-radius: 30px;
  position: sticky;
  bottom: 20px;
  left: 93%;
}

.wsp-container a {
  text-decoration: none;
}

.wsp-container .wsp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: black;
}

/*FOOTER*/
.bg-footer {
  background-color: #b2dbd5;
}

.copyright-box {
  padding: 30px 0;
}

.copyright-text {
  text-align: center;
  color: grey;
}

/*FIN FOOTER*/
@font-face {
  font-family: "Lucidity-Condensed";
  src: local("Lucidity-Condensed"), url(../../fonts/Lucidity-Condensed.ttf) format("woff");
}

/*# sourceMappingURL=style.css.map */
