/*HEADER*/

.navbar-logo {
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    background-color: $bg-body;
}

.socialmedia-box {
    padding: 10px 0;
}

.socialmedia-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.socialmedia-ul li {
    padding: 0 10px;
    list-style-type: none;
}

.socialmedia-ul li a {
    color: black;
}

.fab {
    font-size: 35px;
}


.box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-right: 30%;
    background-color: $bg-navbar;
    width: 40%;
    border-radius: 8px;
    font-family: 'Lucidity-Condensed';
}

header .navbar {
    // position: fixed;
    // width: 100%;
    // z-index: 10;
    // top: 0;
    // transform: translateY(-100%);
    // transition: all .5s ease;
    background-color: $bg-navbar;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

header .navbar .box-menu .menu-links {
    display: flex;
    justify-content: center;
}

.navbar .collapse ul li .nav-link {
    font-family: $fam-roboto;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}

.img-logo {
    margin-bottom: 10px;
    height: 90px;
    width: 20%;
}

.navbar-brand {
    font-size: 40px;
}


/*FIN HEADER*/