/*HEADER*/

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.text-box p{
    font-family: $fam-roboto;
    font-weight: bolder;
    color: white;
    margin: 0;
    font-size: 14px;
}

.contact-box {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: #B78448;
    
 
}

header div div .redes-box a img {
    height: 45px;
}

header div div .redes-box {
    margin-left: 20px;
}

header div div .phone-box {
    margin-right: 20px;
}

header div div .phone-box img {
    width: 18%;
}


.fab {
    font-size: 35px;
}

header .navbar {
    background-color: $bg-navbar;
    margin:43px 0 0 0;
}

header .navbar .box-menu .menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .collapse ul  {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .collapse ul li {
    padding: 0 10px;
}

.navbar .collapse ul li .nav-link {
    &:hover {
        color: $hover;
    }
    font-family: $fam-roboto;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}



.img-logo {
    height: 170px;
    width: 100%;
}

.navbar-brand {
    font-size: 40px;
}


/*FIN HEADER*/