/*INDEX*/
.carousel-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20% 0 5%;
    border-radius: 8px;
    font-family: "lucidity-condensed";
}

.carousel {
    width: 90%;
}

h2 {
    margin-top: 25%;
}

.carousel-caption {
    position: absolute;
    right: 30%;
    left: 0%;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    bottom: 5%;
    top: 5%;
}

.carousel-alfajores {
    right: -10%;
}

.carousel-brownies {
    left: 5%;
    right: 0%;
}

.carousel-cupcakes {
    right: -10%;

}

.carousel-img {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 90%;
    margin: 30px auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: flex;
}

.arrow-button {
    width: 5%;
}

.carousel-arrow {
    background-color: $bg-navbar;
    border-radius: 5px;
}

.carousel-btn {
    background-color: $bg-navbar;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 8px;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.section-ind {
    padding: 100px 30px;
    margin: 100px 0;
}

.h3-icons {
    text-align: center;
    margin-bottom: 30px;
}

.icons-container {
    margin: 0 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-icon, .icon-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon {
    height: 120px;
    width: 100%;
}


.icon-link, .promo-p {
    text-decoration: none;
    color: black;
    font-family: $fam-roboto;
    font-weight: bolder;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #B78448;
    ;
}
.prod-dest {
    margin: 50px 30px;
    border-top: 1px solid $bg-navbar;
    border-bottom: 1px solid $bg-navbar;
}


// .cards-container {

//     // margin: 30px 15px;
// }

.sec-alfj .cards-container .col {
    margin: 0 0 35px 0;

    display: flex;
    justify-content: center;

}

.card {
    border-radius: 8px;
    width: 100%;
    height: 70px;
    box-shadow: 0 8px 2px -2px rgba(0, 0, 0, 0.25);
}

.buy-button {
    background-color: $bg-section;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-box {
    margin: 100px;
    text-align: center;
}

.promo-h3 {
    font-size: 34px;
    margin-bottom: 30px;
}

.card-title,
.card-text,
.buy-button {
    font-weight: bolder;
    font-family: $fam-roboto;
    text-align: center;
}

.tienda-box {
    padding: 50px;
    margin: 30px 70px;
}

.tienda-h3 {
    margin-left: 70px;
}

.tienda-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tienda-li {
    font-family: $fam-roboto;
    font-weight: bolder;
    font-size: 20px;
    margin: 30px 40px;
    list-style-type: none;
}

.tienda-icon {
    margin: 10px;
    width: 30px;
}

.tienda-img {
    border-radius: 8px;
    width: 40%;
}
/*FIN INDEX*/

/*CATALOGO*/
.cat-col {
    margin: 30px 0;
    // padding: 20px 50px;
}

.cat-card {
    box-shadow: 0 8px 2px -2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid $bg-navbar;
}
.cardCata {
        .botonCata {
            opacity: 0;
            transition: opacity 0.5s;
    }
    &:hover {
        .botonCata {
            opacity: 1;
        }
    }
} 
.cat-img {
    height: 270px;
    width: 100%;
}

.cat-sec {
    margin: 50px;
}

.cat-link {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: $bg-footer;
    color: black;
    text-decoration: none;
}

/*FIN CATALOGO*/



.sec-alfj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px;
}


.title-h2 {
    text-align: center;
    margin: 30px;
    border-bottom: 1px solid $bg-navbar;
    // font-family: $fam-roboto;
}

.wsp-container {
    width: 60px;
    height: 60px;
    background-color: $wsp;
    border-radius: 30px;
    position: sticky;
    bottom: 20px;
    left: 93%;
}

.wsp-container a {
    text-decoration: none
}


.wsp-container .wsp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: black;
}

.cater-sec {

    margin: 40px;
    padding: 30px;
    border-radius: 8px;
    background-color: $bg-footer;
}

.cater-table {
    margin: 5px auto;
}

.tg-0pky-main,
.tg-0pky-boxes {
    padding: 10px 20px;
    font-size: 20px;
}


.cater-table,
.cather-thead,
.cater-tr,
.tg-0pky,
.cater-tbody {
    color: black;
    font-family: $fam-roboto;
    font-weight: bolder;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid black;
}

.cater-button {
    border-radius: 8px;
    width: 15%;
    padding: 10px 20px;
    margin: 30px auto;
    background-color: $bg-navbar;
}

.cater-link {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.cater-img-cont {
    display: flex;
    justify-content: center;

}

.cater-img {
    border-radius: 8px;
    width: 1060px;
    height: 700px;
}

.coorp-text,
.coorp-list {
    margin: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coorp-text p {
    text-align: center;
    margin: 50px 80px;
    font-family: $fam-roboto;
    font-weight: bolder;
    font-size: 20px;
}

.coorp-list ul li {
    font-family: $fam-roboto;
    font-weight: bolder;
    font-size: 20px;
}


.first-sec-nosotros {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.img-box {
    margin-top: 130px;
    border-radius: 8px;
}

.text-nos {
    margin: 0 50px;
}

.text-center, .text-ind {
    font-family: $fam-roboto;
    font-size: 20px;
    font-weight: bolder;
}

.section-slogan {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-logo {
    
    width: 10%;
    height: 130px;
}

.text-ind {
    text-align: center;
    margin:0 230px;
}

.map-box {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.map {
    border-radius: 8px;
}

.contacto-box {
    margin: 130px;
}

.contacto-h2 {
    margin-top: 50px;
    margin-left: 130px;
}