/*INDEX*/
 .carousel-text {
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
    //  height: 100%;
    //  width: 50%;
     background-color: rgba(0, 0, 0, 0.666);
 }

 h5 {
     margin-top: 25%;
 }
/*INDEX*/