/*MEDIAS QUERIES*/
@media only screen and (max-width: 1200px) and (min-width:521px) {
    
}
@media only screen and (max-width: 521px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .tienda-box {
        padding: 0px;
        margin: 0px;
    }
}